alchemy-mock
black
coreapi
coverage
django-extensions
djangorestframework
flake8
flake8-bugbear
flake8-comprehensions
importanize
mock
pdbpp
pre-commit
pre-commit-hooks
ptpython
pytest
pytest-cov
pytest-django
sphinx-autobuild
sphinx-rtd-theme
sqlalchemy
watchdog
werkzeug
